In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('train.csv', parse_dates=['date'])
train.shape

(626644, 32)

In [3]:
median = train['population_density'].median()
train['population_density'].fillna(median, inplace=True)

In [4]:
train['date'] = pd.to_datetime(train['date'])
train['month'] = train['date'].dt.month
train['year'] = train['date'].dt.year

In [5]:
df = train.drop(['ID','date','lat','lon'],1)

In [6]:
y = df['burn_area']
X = df.drop('burn_area',1)

In [7]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [8]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = LinearRegression()
tree_reg.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
predictions = tree_reg.predict(X)
tree_mse = mean_squared_error(y, predictions)
tree_rmse = abs(np.sqrt(tree_mse))
tree_mse

0.0026533026403893134

In [10]:
prediction = tree_reg.predict(X)

In [11]:
prediction = abs(prediction)

In [12]:
train_sub = {'ID':train.ID, 'Prediction':prediction}

In [13]:
train_sub = pd.DataFrame(train_sub)

In [14]:
train_sub

                     ID  Prediction
0          0_2000-04-01    0.021994
1          1_2000-04-01    0.019413
2          2_2000-04-01    0.024002
3          3_2000-04-01    0.014593
4          4_2000-04-01    0.020084
...                 ...         ...
626639  3816_2013-12-01    0.006647
626640  3817_2013-12-01    0.007039
626641  3818_2013-12-01    0.009772
626642  3819_2013-12-01    0.008236
626643  3820_2013-12-01    0.012439

[626644 rows x 2 columns]

In [15]:
train_sub.shape

(626644, 2)

In [16]:
test = pd.read_csv('test.csv')

In [17]:
test.head()

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,0_2014-01-01,0,2014-01-01,25.447,5.296,0,142.756021,1217.926180,-953.401012,1360.571291,...,0.0,0.430648,0.0,0.569045,0.0,0.000307,0.0,0.0,2.773423,0.000457
1,1_2014-01-01,1,2014-01-01,25.669,5.293,0,154.836847,1193.866315,-961.703043,1348.688788,...,0.0,0.494624,0.0,0.505068,0.0,0.000307,0.0,0.0,4.697883,0.000129
2,2_2014-01-01,2,2014-01-01,25.443,5.074,0,127.790933,1223.640222,-962.435857,1351.521823,...,0.0,0.288343,0.0,0.711657,0.0,0.000000,0.0,0.0,2.488614,0.000398
3,3_2014-01-01,3,2014-01-01,25.665,5.070,0,136.924571,1201.258784,-961.326298,1338.120278,...,0.0,0.492103,0.0,0.507897,0.0,0.000000,0.0,0.0,2.439959,0.000158
4,4_2014-01-01,4,2014-01-01,25.886,5.067,0,144.278146,1197.831547,-959.248284,1342.118844,...,0.0,0.333855,0.0,0.666145,0.0,0.000000,0.0,0.0,2.546723,0.000153

In [18]:
median = test['population_density'].median()
test['population_density'].fillna(median, inplace=True)

In [19]:
test['date'] = pd.to_datetime(test['date'])
test['month'] = test['date'].dt.month
test['year'] = test['date'].dt.year

In [109]:
df = test.drop(['ID','date','lat','lon'],1)

In [110]:
y = df['burn_area']
X = df.drop('burn_area',1)

In [131]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

In [138]:
from sklearn.tree import DecisionTreeRegressor
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y, test_size=0.2, random_state=42)
#preprocessing.scale(Xtrain)
#preprocessing.scale(Xtest)
#preprocessing.scale(ytrain)
#preprocessing.scale(ytest)
clf = SVR()
clf.fit(Xtrain,ytrain)

/home/korede/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [139]:
predictions = tree_reg.predict(X)
score = mean_squared_error(y, predictions)
score

0.0014199167537981758

In [140]:
submit = {'ID':test.ID, 'Prediction': predictions}

In [141]:
submit = pd.DataFrame(submit)

In [142]:
submit.shape

(137556, 2)

In [143]:
submit.to_csv('files.csv', index=False)

In [144]:
s = pd.read_csv('SampleSubmission.csv')
s.head()

             ID  Prediction
0  0_2014-01-01           0
1  1_2014-01-01           0
2  2_2014-01-01           0
3  3_2014-01-01           0
4  4_2014-01-01           0

In [145]:
new_file.to_csv('file4.csv', index=False)

In [146]:
new_file.reset_index(drop=True, inplace=True)

In [148]:
new_file.to_csv('file8.csv', index=False)

In [149]:
new_file

             ID  Prediction
0  0_2014-01-01    0.060799
1  1_2014-01-01    0.056873
2  2_2014-01-01    0.064248
3  3_2014-01-01    0.054624
4  4_2014-01-01    0.058133